/* Wrapper */
.apply-box {
    width: 100%;
    display: flex;
    justify-content: center;
}
.apply-content {
    position: relative;
    overflow: hidden;
}

.apply-header {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 16px;
    font-family: Kanit, sans-serif;
    text-align: left;
}

.divider {
    height: 2px;
    background-color: #828282;
    margin: 2rem 0;
}

/* Horizontal row */
.apply-row {
    display: flex;
    gap: 1.75rem;
    width: 100%;
   
}

/* Default item style */
.apply-item {
    flex: 1;
    background: white;
    border: 1px solid #d1d1d1;
    border-radius: 16px;
    padding: 16px;
    transition: all 0.3s ease;
    overflow: hidden;
    cursor: pointer;
    width:18.75rem;
    height: 30.313rem;
    opacity: 0.9;
}

.apply-item:hover {
    opacity: 1;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}

/* Expanded item */
.apply-item.active {
    flex: 2.2;
}

/* Shrink others when one is active */
.apply-item:not(.active):hover,
.apply-item:not(.active) {
    flex: 0.5;
}

.apply-item h3 {
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: 600;
}

.apply-item p {
    margin-top: 10px;
    font-size: 0.9rem;
}
