/* ---------- MAIN LAYOUT ---------- */
.partner-box {
    background-color: transparent;
    display: flex;
    justify-content: center;
    


}

.partner-content {
    position: relative;
    overflow: hidden;
    width: 86.25rem;
}

.partner-header {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 16px;
    font-family: Kanit, sans-serif;
    text-align: left;
}

.divider {
    height: 2px;
    background-color: #828282;
    margin: 2rem 0;
}

.partner-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 16px;
    margin-top: 24px;
    
}

.partner-grid-item {

    height: 9.063rem;
    width: 10.188rem;
    background: #f8f9fa;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
    object-fit: cover;
    
}

.partner-image-box img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    
}

.partner-grid-item:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}


