/* card section */
.card {
    padding: 2em;
}

.card-title {
    color: white;
    display: block;
    font-family: Kanit, sans-serif;
    font-weight: 400;
    text-align: left;
}


.card-container {
    background-color: #033E65;
    display: flex;
    justify-content: center; 
}

/* search section */
.search-box {
    display: flex;
    gap: 1.813rem;
    margin-bottom: 20px;
    justify-content: left;
    flex-wrap: wrap;
}

.search-input {
    flex: 1;
    padding: 0.75rem 1rem;
    border-radius: 12px;
    border: none;
    font-size: 1rem;
    outline: none;
    background-color: white;
    color: black;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 138px;
    height: 48px;
    padding: 0 1.5rem;
    border-radius: 12px;
    border: none;
    font-size: 1.5rem;
    font-family: Kanit, sans-serif;
    font-weight: 500;
    cursor: pointer;
    background-color: #FAC14B;
    color: #033E65;
}

.search-input-wrapper {
    position: relative;
    display: inline-block;
    width: 450px;

}

.search-input-wrapper .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    fill: gray;
    pointer-events: none;
}
.search-input-wrapper .search-icon-right {
    position: absolute;
    right: 10px;   /* place at the right */
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    fill: gray;
    cursor: pointer;          /* makes it clickable */
    pointer-events: auto;     /* allow click */

}

.search-input-wrapper .search-input {
    padding-left: 40px;
    padding-right: 40px; 
    width: 100%;
    box-sizing: border-box;
}

.dropdown-search {
    height: 48px;
    padding: 0 1.5rem;
    border-radius: 12px;
    border: none;
    font-size: 1.25rem;
    font-family: Kanit, sans-serif;
    font-weight: 500;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #033E65;
}
.reset-button {
    height: 48px;
    padding: 0 1.5rem;
    border-radius: 12px;
    border: none;
    font-size: 1.25rem;
    font-family: Kanit, sans-serif;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
    color: #FFFFFF;
    position: relative;
}
.reset-button::after {
    content: "";
    position: absolute;
    bottom: 4px; /* adjust as needed */
    left: 10%; /* starting point */
    height: 2px;
    width: 0%; /* start hidden */
    background-color: #FFFFFF;
    transition: width 0.4s ease;
}

.reset-button:hover::after {
    width: 80%; /* final width */
}

.reset-button:active {
    color: rgb(255, 255, 255) !important;
}